## Câu 1:
Cho dữ liệu lưu trong tập tin "weather.csv"
1. Hãy đọc dữ liệu và lưu vào trong DataFrame 'weather'
2. In một số thông tin tổng quát về dữ liệu
3. Cho biết số lượng dòng, cột của DataFrame
4. Hãy cho biết dữ liệu có chứa các giá trị 'NULL' không?
5. Xóa các cột 'WT10', 'WT11', 'WT15', 'WT19'
6. In 3 dòng đầu tiền và 3 dòng cuối cùng của DataFrame
7. Dùng Pandas vẽ biểu đồ dạng Box của 3 cột 'TMIN', 'TAVG', 'TMAX' và tiêu đề là 'Biểu đồ thời tiết'
8. Thêm 1 cột dữ liệu 'TDIFF' là sự chênh lệch dữ liệu 'TMAX' - 'TMIN'
9. Dùng Pandas vẽ biểu đồ histogram của dữ liệu 'TDIFF'
10. Tạo một DataFrame 'bad_weather' mới từ các cột 'WT01' đến 'WT22'
11. Tạo một cột mới 'bad_weather' trên DataFrame 'weather' bằng cách tính tổng theo cột trên DataFrame 'bad_weather'
12. Điền các giá trị còn thiếu trên cột 'bad_weather' là 0 và chuyển kiểu dữ liệu của cột là int
13. Lưu dữ liệu trong dataframe 'weather' thành tập tin 'weather.xlsx' với sheetname là 'weather'.

## Câu 2:
Cho dữ liệu lưu trong tập tin "movies.csv"
1. Hãy đọc dữ liệu và lưu vào trong DataFrame 'movies'
2. In một số thông tin tổng quát về dữ liệu. In 4 dòng đầu tiên của DataFrame
3. Cho biết số lượng dòng, cột của DataFrame 
4. Hãy cho biết dữ liệu có chứa các giá trị 'NULL' không? 
5. Đổi tên của các cột dữ liệu thành: 'Film','Genre','CriticRating', 'AudienceRating', 'BudgetMillions', 'Year'

### Bài làm
#### @Võ Minh Ngọc - LSD2

#### Câu 1

In [5]:
import numpy as np
import pandas as pd

In [10]:
# Câu 1.1: Hãy đọc dữ liệu và lưu vào trong DataFrame 'weather'
weather = pd.read_csv('./weather.csv')
weather.head()

,STATION,DATE,AWND,TAVG,TMAX,TMIN,WT01,WT02,WT03,WT04,...,WT11,WT13,WT14,WT15,WT16,WT17,WT18,WT19,WT21,WT22
0,USC00379423,2005-01-01,NaN,NaN,47.0,28.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USC00379423,2005-01-02,NaN,NaN,52.0,24.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USC00379423,2005-01-03,NaN,NaN,48.0,27.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USC00379423,2005-01-04,NaN,NaN,54.0,40.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USC00379423,2005-01-05,NaN,NaN,44.0,31.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Câu 1.2: In một số thông tin tổng quát về dữ liệu
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8022 entries, 0 to 8021
Data columns (total 26 columns):
STATION    8022 non-null object
DATE       8022 non-null object
AWND       4017 non-null float64
TAVG       1217 non-null float64
TMAX       8005 non-null float64
TMIN       7996 non-null float64
WT01       1777 non-null float64
WT02       221 non-null float64
WT03       227 non-null float64
WT04       119 non-null float64
WT05       360 non-null float64
WT06       25 non-null float64
WT07       79 non-null float64
WT08       404 non-null float64
WT09       69 non-null float64
WT10       2 non-null float64
WT11       3 non-null float64
WT13       1175 non-null float64
WT14       575 non-null float64
WT15       6 non-null float64
WT16       1326 non-null float64
WT17       12 non-null float64
WT18       345 non-null float64
WT19       4 non-null float64
WT21       18 non-null float64
WT22       32 non-null float64
dtypes: float64(24), object(2)
memory usage: 1.6+ MB

In [22]:
# Câu 1.3: Cho biết số lượng dòng, cột của DataFrame
wheather_shape = weather.shape
print('Number of rows: ', wheather_shape[0])
print('Number of columns: ', wheather_shape[1])

Number of rows:  8022
Number of columns:  26

In [ ]:
# Câu 1.4: Hãy cho biết dữ liệu có chứa các giá trị 'NULL' không?
print('Dữ liệu {} giá trị "NULL" ', 'có' )

In [ ]:
# Câu 1.5: Xóa các cột 'WT10', 'WT11', 'WT15', 'WT19'

In [ ]:
# Câu 1.6: In 3 dòng đầu tiền và 3 dòng cuối cùng của DataFrame

In [ ]:
# Câu 1.7: Dùng Pandas vẽ biểu đồ dạng Box của 3 cột 'TMIN', 'TAVG', 'TMAX' và tiêu đề là 'Biểu đồ thời tiết'

In [ ]:
# Câu 1.8: Thêm 1 cột dữ liệu 'TDIFF' là sự chênh lệch dữ liệu 'TMAX' - 'TMIN'

In [ ]:
# Câu 1.9: Dùng Pandas vẽ biểu đồ histogram của dữ liệu 'TDIFF'

In [ ]:
# Câu 1.10: Tạo một DataFrame 'bad_weather' mới từ các cột 'WT01' đến 'WT22'

In [ ]:
# Câu 1.11: Tạo một cột mới 'bad_weather' trên DataFrame 'weather' bằng cách tính tổng theo cột trên DataFrame 'bad_weather'

In [ ]:
# Câu 1.12: Điền các giá trị còn thiếu trên cột 'bad_weather' là 0 và chuyển kiểu dữ liệu của cột là int

In [ ]:
# Câu 1.13: Lưu dữ liệu trong dataframe 'weather' thành tập tin 'weather.xlsx' với sheetname là 'weather'.

#### Câu 2

In [ ]:
# Câu 2.1: Hãy đọc dữ liệu và lưu vào trong DataFrame 'movies'

In [ ]:
# Câu 2.2: In một số thông tin tổng quát về dữ liệu. In 4 dòng đầu tiên của DataFrame

In [ ]:
# Câu 2.3: Cho biết số lượng dòng, cột của DataFrame

In [ ]:
# Câu 2.4: Hãy cho biết dữ liệu có chứa các giá trị 'NULL' không?

In [ ]:
# Câu 2.5: Đổi tên của các cột dữ liệu thành: 'Film','Genre','CriticRating', 'AudienceRating', 'BudgetMillions', 'Year'